{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Welcome to the Inventory Management System</h1>

    <div class="feature-card-container">
        <a href="{{ url_for('main.inventory') }}" class="feature-card p-4 shadow-lg wow slideInUp" data-wow-delay="0.4s">
            <h3>View Inventory</h3>
            <p>Check the current stock levels and manage your inventory.</p>
        </a>
    </div>

    <div class="feature-card-container">
        <a href="{{ url_for('main.delivery') }}" class="feature-card p-4 shadow-lg wow slideInUp" data-wow-delay="0.4s">
            <h3>Verify Demands</h3>
            <p>Verify the delivery status with ease using the delivery ID.</p>
        </a>
    </div>

    <div class="feature-card-container">
        <a href="{{ url_for('main.profit_analysis') }}" class="feature-card p-4 shadow-lg wow slideInUp" data-wow-delay="0.4s">
            <h3>Profit Analysis</h3>
            <p>Review your sales and profit data for better insights.</p>
        </a>
    </div>
</div>
{% endblock %}

